<!DOCTYPE html>
<html lang="en">
<%- include('_partials/head.ejs', { title: 'Sign Up' }) %>

<body class="d-flex flex-column vh-100">
    <%- include('_partials/header', { auth }); -%>
    <main class="flex-shrink-0 h-90">
        <div class="container">
            <% if (error) { %>
                <span><%= error %> </span>
            <% } %>
            <form class="auth-form-container w-100 m-auto" method="POST">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="user-name" placeholder="e.g. John Doe" name="name">
                    <label for="user-name">Your name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="email" placeholder="e.g. name@example.com"
                        name="email">
                    <label for="email">Email address</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                    <label for="password">Password</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="repeat-password" placeholder="Repeat Password"
                        name="confirmPassword">
                    <label for="repeat-password">Repeat Password</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </main>
    <%- include('_partials/footer'); -%>
</body>

</html>